<!-- sidebar start -->
<div id="sidebar">
    {{ range .Site.Params.logo }}
    <a href="/"><img src="{{ . | absURL}}" alt="logo" id="logo"></a>
    {{ end }}
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li>
            <a href="#">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        </li>
        <ul>
            {{ range .Children }}
            <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
        {{ else }}
        <li>
            <a href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</div>